<div class="container p-4">
    <div class="row">
        {{#each productos}}
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title text-uppercase">
                        {{title}}
                     </h3>
                    <p class="m-2">{{precio}}$</p>
                    <p class="m-2">{{description}}</p>
                    <p class="text-muted">
                        {{timeago created_at}}
                    </p>
                    {{#if ../user.rol}}
                    <a class="btn btn-outline-danger" href="/vapebro/delete/{{id}}">
                        Delete product
                    </a>
                    <a class="btn btn-outline-secondary" href="/vapebro/edit/{{id}}">
                        Edit
                    </a>
                    {{else}}
                    {{!--  <a class="btn btn-outline-success" href="/vapebro/comprar/{{id}}"></a>
                        Buy
                    </a> --}}
                    <form action="/vapebro/addd" method="POST" class="m-2">
                     <input type="text" name="title" value="{{title}}" style="display:none">
                     <input type="text" name="precio" value="{{precio}}" style="display:none">
                     <input type="text" name="description" value="{{description}}" style="display:none">
                    <button class="btn btn-outline-success fa fa-shopping-cart m-2" onclick="compra()">
                        +
                    </button>
                    </form>
                    {{/if}}
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are not products saved yet.</p>
                <a href="/vapebro/add">Add One!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<script>
function compra (){
    Swal.fire({
  icon: 'success',
  title: 'Your products are in the car',
  showConfirmButton: false,
  timer: 1000
})
}
</script>